server:
  port: 8080

spring:
  application:
    name: order-service

  datasource:
    url: jdbc:h2:mem:orderdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      "[hibernate.format_sql]": false
    open-in-view: false

  flyway:
    enabled: true
    baseline-on-migrate: true

  h2:
    console:
      enabled: false

logging:
  level:
    root: INFO
    "[com.sotatek.order]": INFO
    "[org.hibernate.SQL]": INFO
